<!doctype html>
<html>
<head>
	<title><%=title%></title>
	

	<link rel="stylesheet" href="css/reset.css" /> 
	<link rel="stylesheet" href="css/960.css" /> 
 
 	<link rel="stylesheet" href="css/main.css" /> 

 	<script type="text/javascript" src="js/jquery-1.7.2.min.js"></script>
 
 	<% if(Ptype=="index") {%> 
	<script type="text/javascript" src="js/common.js"></script>
 
	</script>
	<%} else if(Ptype=="say"){%>
	<script type="text/javascript" src="kindeditor/kindeditor-min.js"></script>
	<script type="text/javascript" src="js/say.js"></script>
	
	 
	<%}%>



</head>
<body>		