<div id="aside" class="">
	<h2 class="timelineheader">TIME LINE</h2><small class="timelinesmall">每天爱你一点点</small>
	<div class="clear"></div>
	<div id="list" class="sidebar-nav">
		<ul class="nav">
			<% for(var i=0;i<content.length;i++) {%>
				<li class="listitem">
					<a href="javascript:void(0)"><%= content[i].date.getMonth()+1%>月<%= content[i].date.getDate()%>日</a>
					<% if(Ptype=="say") {%>
						<a href='#' class='removelog' onclick="removelog('<%= content[i].date.toUTCString() %>')">删</a>
						
					<%}%>
					
				</li> 			

			<% } %>
		</ul>
	</div>
</div>