<div id="aside" class="span3 well">
	<h2 class="nav-header">日历</h2>
	<div id="list" class="sidebar-nav">
		<ul class="unstyled nav nav-list">
			<% for(var i=0;i<content.length;i++) {%>
				<li class="listitem">
					<a href="javascript:void(0)"> <%= content[i].date.toString().replace(/G[\x00-\xff0-9a-zA-Z\u4e00-\u9fa5]*$/," ")%>

					<% if(Ptype=="say") {%>
						<span class="removeicon"><i class="icon-remove"></i></span>
					<%}%>
					</a>
					
				</li> 					
			<% } %>
		</ul>
	</div>
</div>