<div id="login" class="container">
	<div class="raw">
		<form action="/say" method="post" class="span10">
			<lable><input type="text" name="user[love]" /></lable>
			<lable><input type="text" name="user[pic]" placeholder="图片URL"/></lable>
			<lable><input type="text" name="user[video]" placeholder="视频URL"/></lable>
			<lable><input type="text" name="user[audio]" placeholder="音频URL"/></lable>
			<input type="submit" value="提交" />
			<div>
				 
			 
				  
			</div>
		</form>
	</div>
</div>